.merger > div:first-child {
  height: 70vh;
}

.download-btn-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: calc(100% - 32px);
  padding: 16px;
}

.organiser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organiser > ul {
  list-style: none;
  padding: 0;

  max-width: 60vw;
}

.organiser > ul > li {
  border: 1px solid #4149d0;
  border-radius: 4px;
  margin: 1px;
  padding: 5px 10px;
}
